@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600&family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700&display=swap');
@font-face {
    font-family: 'Haunter';
    src: url('../fonts/Haunter.otf');
}

@font-face {
    font-family: 'Hodgeson';
    src: url('../fonts/Hodgeson-Shadow.otf');
}


/* GLOBAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
}

.content {
    max-width: 1200px;
    margin: auto;
    padding: 50px 40px;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #151530;
}

::selection {
    color: #12122a;
    background-color: #F4B942;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: #F4B942;
}


/* LOADING */

.loader {
    position: fixed;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #12122a;
    transition: all 0.5s;
    z-index: 1000;
}

.loader .ring {
    height: 45px;
    width: 45px;
    border: 5px solid #ddd;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader .ring:after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 5px solid #F4B942;
    border-top-color: transparent;
    animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}


/* NAVBAR */

.navbar {
    position: fixed;
    width: 100%;
    z-index: 2;
    padding: 25px 0;
    transition: all 0.3s ease;
}

.navbar.sticky {
    background: #12122a;
    padding: 20px 0;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}

.navbar .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

.navbar .logo a {
    font-family: 'Haunter', sans-serif;
    font-size: 40px;
    font-weight: 100;
    background: linear-gradient(to right, #fff 50%, #F4B942 50%);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    transition: all .5s ease-out;
}

.navbar .logo a:hover {
    background-position: -100%;
}

.navbar .menu-list {
    display: inline-flex;
}

.menu-list li {
    list-style: none;
}

.menu-list li a {
    position: relative;
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    margin-left: 35px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.menu-list li a.active {
    color: #F4B942;
}

.menu-list li a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 50%;
    bottom: -3px;
    transform: translateX(-50%) scaleX(0);
    transform-origin: 50% 50%;
    background-color: #F4B942;
    transition: transform 250ms;
}

.menu-list li a:hover:after {
    transform: translateX(-50%) scaleX(1);
}

.icon {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.menu-list .cancel-btn {
    position: absolute;
    right: 30px;
    top: 20px;
}


/* HOME */

.home {
    width: 100%;
    height: 100vh;
    /* background: radial-gradient(circle, rgba(31,31,78,1) 0%, rgba(21,21,48,1) 35%); */
    background-image: url(../img/05.jpg);
    background-position: bottom;
    background-size: cover;
}

.home .content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .content .home-content {
    text-align: center;
}

.home .content .home-content .title {
    font-size: 170px;
    color: #fff;
}

.home .content .home-content .subtitle {
    font-size: 53px;
    color: #fff;
}

.home .content .home-content .home-btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 40px 0;
}

.home .content .home-content .home-btn button {
    font-size: 17px;
    font-weight: 400;
    padding: 15px 65px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.home .content .home-content .home-btn .see-more {
    background: none;
    border: 2px solid #F4B942;
    transition: all .6s ease;
}

.home .content .home-content .home-btn .see-more:hover {
    transform: scale(1.06);
    background-color: #F4B942;
}

.home .content .home-content .home-btn .see-more:hover a {
    color: #12122a;
}

.home .content .home-content .home-btn .see-more a {
    color: #fff;
}

.home .content .home-content .home-btn .download {
    color: #12122a;
    background-color: #F4B942;
    border: 2px solid #F4B942;
    transition: all .6s ease;
}

.home .content .home-content .home-btn .download:hover {
    transform: scale(1.06);
}

.home .content .home-content .home-btn .download a {
    color: #12122a;
}

.home .box {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%, 50%);
}

.home .box span {
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.home .box span:nth-child(2) {
    animation-delay: -0.2s;
}

.home .box span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}


/* ABOUT */

.about .content {
    display: flex;
    justify-content: space-around;
}


/* -------------- LEFT -------------- */

.about .content .left {
    width: 50%;
}

.about .content .left .title {
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    padding-bottom: 20px;
}

.about .content .left .function {
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    padding-bottom: 20px;
}

.about .content .left .line {
    width: 50px;
    height: 2px;
    background-color: #F4B942;
}


/* -------------- RIGHT -------------- */

.about .content .right {
    width: 40%;
}

.about .content .right .text {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #fff;
    padding-bottom: 40px;
}

.about .content .right .social .title {
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
    padding-bottom: 20px;
}

.about .content .right .social .social-icons i {
    color: #12122a;
    background-color: #fff;
    margin-right: 10px;
    padding: 10px;
    border-radius: 50%;
    transition: all .3s ease;
    cursor: pointer;
}

.about .content .right .social .social-icons i:hover {
    transform: scale(1.1);
    color: #fff;
    background-color: #F4B942;
}


/* KNOWLEDGE */

.knowledge .content {
    padding: 100px 40px;
}

.knowledge .content .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.knowledge .content .cards .card {
    width: 330px;
    padding: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border-radius: 3px;
    background-color: #1f1f3b;
    margin-bottom: 40px;
}

.knowledge .content .cards .principal {
    background-color: #F4B942;
}

.knowledge .content .cards .card .img-card {
    width: 90%;
    margin-bottom: 30px;
}

.knowledge .content .cards .card .img-card img {
    width: 100%;
    transition: all .5s ease;
}

.knowledge .content .cards .card .img-card img:hover {
    transform: scale(1.06);
}

.knowledge .content .cards .card .title {
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 20px;
    color: #fff;
}

.knowledge .content .cards .principal .title {
    color: #12122a;
}

.knowledge .content .cards .card p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #fff;
    padding-bottom: 30px;
}

.knowledge .content .cards .principal p {
    color: #12122a;
}

.knowledge .content .cards .card button {
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    background-color: #F4B942;
    transition: all .3s ease;
    cursor: pointer;
}

.knowledge .content .cards .principal button {
    background-color: #12122a;
}

.knowledge .content .cards .card button:hover {
    transform: scale(1.07);
    background-color: #12122a;
}

.knowledge .content .cards .card button i {
    font-size: 20px;
    color: #fff;
}


/* RESUME */

.resume .content {
    max-width: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resume .content .title {
    font-size: 40px;
    text-align: center;
    color: #fff;
    padding-bottom: 50px;
}

.resume .content .resume-container {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}


/* --------- RIGHT --------- */

.resume .content .resume-container .project {
    width: 50%;
}

.resume .content .resume-container .project .project-title {
    color: #fff;
    padding-bottom: 10px;
}

.resume .content .resume-container .project .project-date {
    font-weight: 100;
    color: #fff;
}


/* --------- LEFT --------- */

.resume .content .resume-container .project-info {
    width: 50%;
}

.resume .content .resume-container .project-info p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    color: #fff;
}


/* ------------------------ */

.resume .content .line {
    width: 100%;
    height: 1px;
    background-color: rgba(168, 168, 168, .4);
}

.resume .content button {
    margin: 40px 0;
    padding: 15px 40px;
    border: none;
    color: #12122a;
    background-color: #F4B942;
    transition: all .3s ease;
    cursor: pointer;
}

.resume .content button:hover {
    background-color: #fff;
}


/* PROJECTS */

.project .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.project .content .title-last {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    margin-bottom: 40px;
}

.project .content .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}

.project .content .cards .card img {
    width: 320px;
    height: 213.33px;
    object-fit: cover;
    padding-bottom: 10px;
    transition: all .3s ease;
    cursor: pointer;
}

.project .content .cards .card img:hover {
    transform: translateY(-10px);
}

.project .content .cards .card .title {
    font-size: 16px;
    color: #fff;
    padding-bottom: 5px;
    cursor: pointer;
}

.project .content .cards .card p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    color: #fff;
}


/* SKILLS */

.skills .content .title {
    font-size: 40px;
    color: #fff;
    text-align: center;
    padding-bottom: 60px;
}

.skills .content .cards {
    display: flex;
    flex-wrap: wrap;
}

.skills .content .cards .card {
    flex: 1 1 450px;
    padding: 60px;
    transition: all .4s ease;
    cursor: default;
}

.skills .content .cards .card:hover {
    background-color: #1f1f3b;
}

.skills .content .cards .card .title-skill {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.skills .content .cards .card .title-skill i {
    font-size: 30px;
    color: #fff;
    padding-right: 20px;
}

.skills .content .cards .card .title-skill h1 {
    font-size: 17px;
    font-weight: 400;
    color: #fff;
}

.skills .content .cards .card .info {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 100;
    color: #fff;
    padding-left: 51px;
}


/* MAPS */

.maps .content iframe {
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
}


/* CONTACT */

.contact .content .title {
    font-size: 30px;
    padding-bottom: 10px;
    color: #fff;
}

.contact .content .text {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    padding-bottom: 30px;
    color: #fff;
}

.contact .content .line {
    width: 80px;
    height: 2px;
    margin-bottom: 80px;
    background-color: #F4B942;
}

.contact .content .contact-content {
    display: flex;
    justify-content: space-between;
}

.contact .content .contact-info .contact-container {
    display: flex;
    align-items: center;
    margin-bottom: 19px;
}

.contact .content .contact-info .contact-container i {
    font-size: 20px;
    margin-right: 20px;
    color: #F4B942;
}

.contact .content .contact-info .contact-container .infos .title-info {
    font-size: 13px;
    text-transform: uppercase;
    line-height: 2;
    color: #fff;
}

.contact .content .contact-info .contact-container .infos .info {
    font-size: 16px;
    color: rgb(216, 216, 216);
}

.contact .content .contact-form {
    width: 50%;
}

.contact .content .contact-form .title-form {
    font-size: 20px;
    color: #fff;
    margin-bottom: 20px;
}

.contact .content .contact-form form .fields {
    display: flex;
}

.contact .content .contact-form form .field,
.contact .content .contact-form form .fields .field {
    width: 100%;
    height: 45px;
    margin-bottom: 15px;
}

.contact .content .contact-form form .textarea {
    height: 230px;
}

.contact .content .contact-form form .fields .name {
    margin-right: 10px;
}

.contact .content .contact-form form .fields .email {
    margin-left: 10px;
}

.contact .content .contact-form form .field input,
.contact .content .contact-form form .textarea textarea {
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: #1f1f3b;
    border: 3px solid #F4B942;
    border-radius: 3px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
}

.contact .content .contact-form form .textarea textarea {
    padding-top: 10px;
    resize: none;
}

.contact .content .contact-form .button {
    width: 100%;
    height: 47px;
}

.contact .content .contact-form .button button {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 3px;
    color: #12122a;
    background-color: #F4B942;
    transition: all .3s ease;
    cursor: pointer;
}

.contact .content .contact-form .button button:hover {
    background-color: #fff;
}


/* ----------------------------------- PORTFOLIO -----------------------------------*/

header {
    width: 100%;
    padding-top: 250px;
    padding-bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header .logo {
    font-size: 50px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 30px;
}

header h1 {
    font-weight: 400;
    color: #f3f3f3;
    padding-bottom: 30px;
}

header .line {
    width: 80px;
    height: 2px;
    background-color: #F4B942;
    margin-bottom: 100px;
}

header .swiper {
    max-width: 1300px;
    margin: auto;
    padding: 30px;
    width: 100%;
    height: 100%;
}

header .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

header .swiper-slide img {
    display: block;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

header .swiper {
    margin-left: auto;
    margin-right: auto;
}

.portfolio {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio .container {
    width: 100%;
    margin: auto;
}

.portfolio .container .portfolio-menu {
    text-align: center;
    margin-bottom: 15px;
}

.portfolio .container .portfolio-menu ul li {
    position: relative;
    display: inline-block;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
    margin: 20px 8px;
    cursor: pointer;
    transition: all .3s ease;
}

.portfolio .container .portfolio-menu ul li.active::after {
    content: '';
    position: absolute;
    width: 18px;
    display: block;
    height: 2px;
    background-color: #F4B942;
    bottom: 10px;
}

.portfolio .container .portfolio-menu ul li:hover::after {
    color: #58555A;
    content: '';
    position: absolute;
    width: 18px;
    display: block;
    height: 2px;
    background-color: #F4B942;
    bottom: 10px;
}

.portfolio .container .portfolio-item {
    line-height: 0;
}

.portfolio .container .portfolio-item .item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    cursor: pointer;
}

.portfolio .container .portfolio-item .item i {
    display: none;
    position: absolute;
    font-size: 60px;
    color: #8b8b8b;
    z-index: 1000;
    transition: all .5s ease;
}

.portfolio .container .portfolio-item .item .iso-img {
    display: block;
    width: 100%;
}

.portfolio .container .portfolio-item .item .overlay-img {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 90%;
    color: #FFFFFF;
    background: #f4b942f3;
    opacity: 0;
    transition: opacity 0.25s;
}

.portfolio .container .portfolio-item .item .overlay-img>* {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.portfolio .container .portfolio-item .item .overlay-img:hover {
    opacity: 1;
}

.portfolio .container .portfolio-item .item .overlay-img:hover>* {
    transform: translateY(0);
    transition: transform 0.25s;
}

.portfolio .container .portfolio-item .item .overlay-img .title {
    font-size: 55px;
    font-weight: 600;
    text-align: center;
    text-shadow: 0 0 2px #f3f3f3;
    line-height: 1;
    margin-bottom: 20px;
}

.portfolio .container .portfolio-item .item .overlay-img .description {
    font-size: 19px;
    font-weight: 600;
    color: rgb(48, 48, 48);
}


/* ----------------------------------- CONTACT -----------------------------------*/

.contact .content .container .bg-form {
    width: 65%;
    background-color: #1c1c3d;
    padding: 40px;
}

.header-contact {
    padding-bottom: 50px;
    padding-top: 150px;
}

.header-contact .line {
    margin-bottom: 0;
}

.contact .content {
    padding-bottom: 100px;
}

.contact .content .container {
    display: flex;
}

.contact .content .container .contact-info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #0a0a18;
}

.contact .content .container .contact-info .infos {
    padding: 40px;
}

.contact .content .container .contact-info .infos .info-title {
    font-size: 20px;
    padding-bottom: 20px;
    color: #FFFFFF;
}

.contact .content .container .contact-info .infos .user-info {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.contact .content .container .contact-info .infos .user-info i {
    font-size: 18px;
    padding-right: 15px;
    color: #F4B942;
}

.contact .content .container .contact-info .infos .user-info .info {
    font-weight: 300;
    color: #FFFFFF;
}

.contact .content .container .contact-info .maps {
    height: 100%;
}


/* FOOTER */

footer {
    background-color: #F4B942;
}

footer .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}

footer .content .copy {
    font-size: 17px;
    text-align: center;
    color: #12122a;
}

footer .content .copy span {
    font-family: 'Haunter', sans-serif;
}

footer .content .social {
    display: flex;
    align-items: center;
}

footer .content .social .fab {
    font-size: 17px;
    color: #12122a;
    margin-right: 20px;
    transition: all .4s ease;
    cursor: pointer;
}

footer .content .social .fab:hover {
    color: #FFFFFF;
    transform: scale(1.3);
}

footer .content .social .fa-behance {
    margin-right: 40px;
}

footer .content .social .up {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all .4s ease;
    cursor: pointer;
}

footer .content .social .up:hover {
    background-color: #fff;
}

footer .content .social .up i {
    text-align: center;
    font-size: 17px;
    color: #12122a;
}


/* RESPONSIVE */

@media (max-width: 1230px) {
    .content {
        padding: 60px;
    }
}

@media (max-width: 1100px) {
    .content {
        padding: 40px;
    }
    .project .content .cards {
        grid-template-columns: repeat(2, 1fr);
    }
    .portfolio .container .portfolio-item .item {
        width: 50%;
    }
    .contact .contact-content {
        padding: 0;
    }
    .contact .content .container .bg-form {
        width: 100%;
    }
    .contact .content .container {
        display: block;
    }
    .contact .content .container .contact-info .maps {
        height: 255px;
    }
}

@media (max-width: 900px) {
    .content {
        padding: 30px;
    }
}

@media (max-width: 868px) {
    body.disabled {
        overflow: hidden;
    }
    .icon {
        display: block;
    }
    .icon.hide {
        display: none;
    }
    .navbar .menu-list {
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 400px;
        left: -100%;
        top: 0px;
        display: block;
        padding: 40px 0;
        text-align: center;
        background: #1f1f3b;
        transition: all 0.3s ease;
    }
    .navbar.show .menu-list {
        left: 0%;
    }
    .navbar .menu-list li {
        margin-top: 45px;
    }
    .navbar .menu-list li a {
        font-size: 23px;
        margin-left: -100%;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .navbar.show .menu-list li a {
        margin-left: 0px;
    }
    .about .content {
        display: block;
    }
    .about .content .left {
        margin-bottom: 40px;
    }
    .about .content .left {
        width: 100%;
    }
    .about .content .right {
        width: 100%;
    }
    .knowledge .content .cards .card {
        margin-bottom: 40px;
    }
}

@media (max-width: 739px) {
    .knowledge .content .cards .card {
        width: 100%;
    }
    .knowledge .content .cards .card .title {
        font-size: 25px;
    }
    header h1 {
        font-size: 16px;
    }
}

@media (max-width: 722px) {
    .project .content .cards {
        grid-template-columns: repeat(1, 1fr);
    }
    .project .content .cards .card img {
        width: 100%;
    }
    .contact .content .contact-content {
        display: block;
    }
    .contact .content .line {
        margin-bottom: 40px;
    }
    .contact .content .contact-info {
        margin-bottom: 55px;
    }
    .contact .contact-content .contact-info {
        margin-bottom: 0;
    }
    .contact .content .contact-form {
        width: 100%;
    }
}

@media (max-width: 622px) {
    .home .content .home-content .title {
        font-size: 25vw;
    }
    .home .content .home-content .subtitle {
        font-size: 8vw;
    }
    .home .content .home-content .home-btn button {
        font-size: 3vw;
        padding: 10px 35px;
    }
    .resume .content .resume-container .project {
        width: 100%;
        margin-bottom: 20px;
    }
    .resume .content .resume-container .project-info {
        width: 100%;
    }
    .skills .content .title {
        padding-bottom: 20px;
    }
    .skills .content .cards .card {
        padding: 30px 0;
    }
    .skills .content .cards .card .info {
        padding: 0;
    }
    .maps .content iframe {
        height: 80vh;
    }
    .portfolio .container .portfolio-item .item {
        width: 100%;
    }
    footer .content {
        flex-direction: column;
    }
    footer .content .social {
        align-items: flex-end;
    }
    footer .content .social .up {
        align-items: flex-end;
    }
}

@media (max-width: 582px) {
    .resume .content .resume-container {
        display: block;
    }
    .contact .content .contact {
        display: block;
    }
    .contact .content .contact .email {
        padding-bottom: 22px;
    }
}

@media (max-width: 380px) {
    .navbar .logo a {
        font-size: 27px;
    }
}

@media (max-width: 364px) {
    .about .content .left .function {
        font-size: 22px;
    }
}